/* основной цвет текста #434455 */
/* цвет заголовков #2E2F42 */
/* цвет акцент #4D5AE5 */

:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  width: 1152px;

  margin-right: auto;
  margin-left: auto;

  padding-right: 12px;
  padding-left: 12px;

  /* outline: 3px solid green; */
}

.list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", cursive;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
}

.btn {
  display: inline-block;
  border: 1px solid transparent;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;  
}

/* ----- Top Line ----- */

.header {
  border-bottom: 1px solid #E7E9FC;
}
.header .container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 76px;
  
  color: var(--title-text-color);
  line-height: 1.33;
}
.logo-accent {
  color: var(--accent-color);
}
.header-list {
  display: flex;
}
.header-item:not(:last-child) {
  margin-right: 40px;
}
.header-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.header-link:hover,
.header-link:focus,
.header-link.current {
  color: var(--accent-color);
}
.contacts-list {
  display: flex;
  margin-left: auto;
}
.contacts-item + .contacts-item {
  margin-left: 40px;
}
.contacts-link {
  display: block;

  color: var(--primary-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* ----- Hero ----- */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  
  background-color: var(--title-text-color);
  text-align: center;
}
.hero-title {
  width: 494px;
  margin-top: 0;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;

  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}
.hero-btn {
  background-color: var(--accent-color);
  color: #ffffff;

  padding: 16px 32px;

  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ----- Features ----- */

.features {
  padding-top: 120px;
  padding-bottom: 60px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
}
.features-item {
  width: calc(100% / 4);
  margin-right: 24px;
}
.features-item:last-child {
  margin-right: 0;
}
.features-title {
  margin-top: 0;
  margin-bottom: 8px;
  
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.features-text {
  margin: 0;
}

/* ----- Occupation ----- */

.occupation {
  padding-top: 60px;
  padding-bottom: 120px;
  text-align: center;
}
.occupation-title {
  margin-top: 0;
  margin-bottom: 72px;
}
.occupation-list {
  display: flex;
  justify-content: space-between;
}
.occupation-item img {
  display: block;
}

/* ----- Team ----- */

.team {
  padding-top: 120px;
  padding-bottom: 120px;
  
  background-color: #f4f4fd;
  text-align: center;
}
.team-title {
  margin-top: 0;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-item {
  width: 264px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  
  background-color: #fff;
}
.team-item .description {
  padding-bottom: 32px;
}
.team img {
  display: block;
  margin-bottom: 32px;
}
.team-title-name {
  margin-top: 0;
  margin-bottom: 8px;
}
.team-text {
  margin-top: 0;
  margin-bottom: 0;
}

/* ----- Footer ----- */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  
  background-color: var(--title-text-color);
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;

  color: #f4f4fd;
  line-height: 1.67;
}
.footer-text {
  width: 264px;
  margin: 0;

  color: #e7e9fc;
}

/* +++++ Porfolio Style +++++ */

/* ----- Projects ----- */

.projects {
  padding-top: 96px;
  padding-bottom: 120px;
}
.projects-filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
.projects-item + .projects-item {
  margin-left: 24px;
}
.projects-btn {
  padding: 12px 24px;

  border: 1px solid #e7e9fc;
  border-radius: 4px;
  
  background-color: #e7e9fc;
  color: var(--accent-color);
}
.projects-btn:hover,
.projects-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
}
.projects-card-item {
  display: block;
  width: calc((100% - 48px) / 3);
  margin-right: 24px;
  margin-bottom: 48px;

  border: 1px solid #E7E9FC;
}
.projects-card-item:nth-child(3n) {
  margin-right: 0;
}
.projects-card-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.projects-card-item .description {
  padding-left: 16px;
  padding-bottom: 32px;
}
.projects-link {
  color: var(--title-text-color);
}
.projects-link > img {
  display: block;
  margin-bottom: 32px;
}
.projects-title {
  margin-top: 0;
  margin-bottom: 8px;
}
.projects-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);
}